<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div><a href="" class="navbar-brand">Online tests</a></div>

      <ul class="navbar-nav">
         <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/quiz" class="nav-link">Home</a></li>
         <li><a *ngIf="hardcodedAuthenticationService.isUserAdmin()" routerLink="/admin" class="nav-link">Admin</a></li>
      </ul>

      <ul class="navbar-nav navbar-collapse justify-content-end">
          <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
          <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
      </ul>
  </nav>
</header>